.header
    position: fixed
    background-color: $black
    height: 50px
    width: 100%
    &__input
        background-color: $gray
        border: 2px solid #3cc0dc
        padding: 4px
        border-radius: 5px
        font-family: 'Squada One', cursive
        width: 550px
        color: $light
    &__button
        background-color: transparent
        border-radius: 5px
        border: 2px solid #ffab00
        color: #ffab00
        font-family: 'Squada One', cursive
        padding: 4px
        width: 70px
        &:hover
            cursor: pointer
            box-shadow: 2px 2px 2px 2px rgba(#ffab00, 0.2)
            
    .logo
        
        /*font-family: 'Press Start 2P', cursive*/
        display: flex
        color: $light
        
        align-items: center
        &__container
            height: 50px
            margin-left: 50px
            display: flex
        
        &__el1
            color: #a2c90a
            transition: 1s
            &:hover
               transform: rotate(320deg) 
        &__el2
            color: #3cc0dc
            transition: 0.7s
            &:hover
               transform: rotate(-180deg) 
        &__el3
            color: #ff4f5b 
            transition: 2s
            &:hover
               transform: rotate(480deg) 
        &__el4
            color: #ffab00
            transition: 0.9s
            &:hover
               transform: rotate(-90deg) 
        &__el5
            color: #7c00b9
            transition: 0.3s
            &:hover
               transform: rotate(55deg) 
        &__el
            margin-right: 5px
            font-family: 'Squada One', cursive
            text-transform: uppercase
            font-size: 30px
.nav
    &__form
        display: flex
        align-items: center
        
.nav
    display: flex
    justify-content: space-between
    &__menu
        display: flex
        align-items: center
    &__el
        font-family: 'Scada', sans-serif
        font-weight: normal
        font-size: 14px
        margin-left: 5px
        margin-right: 5px
    &__el1
        color: #3cc0dc
    &__el2
        color: #f3ff4f 
    &__el3
        color: #ff4f5b 
    &__el4
        color: #ff00d4 
    &__sochial
        margin-right: 150px
