.header
    display: flex
    align-items: center
    min-height: 85px
    background-color: $gray
    font-family: 'PT Sans', sans-serif
.logo
    display: flex
    align-items: center
    &__text
        margin-left: 10px
        font-family: 'PT Sans', sans-serif
        font-weight: 700
        color: $white
        font-size: 30px
.nav
    display: flex
    justify-content: space-between
    &__text
        display: flex
        justify-content: center
        align-items: center
        margin-right: 15%
    &__item
        font-family: 'Source Code Pro', monospace
        font-weight: 700
        font-size: 22px
        color: $white
        margin-left: 10px
        margin-right: 10px
        border-bottom: 2px solid $white
        transition-duration: 0.5s
        &:hover
            border-bottom: 2px solid $red
        
